<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="index.css">
</head>

<body>
        <main>
                <h1>Basic Vanilla JS Carousel</h1>
                <div class="container">
                        <button id="left-btn"><i class="arrow"></i></button>
                        <img id="carousel" src="" alt="">
                        <button id="right-btn"><i class="arrow"></i></button>
                </div>
        </main>



        <script src="index.js"></script>
</body>

</html>