.main-slide {

    padding: 20px 50px;
}

img {
    max-width: 95vw;
    max-height: 50vh;
}

.carousel .slider-wrapper {
    width: 50%;
}

.carousel {
    text-align: center;
}

.carousel .thumb {
    width: 50%;
    height: 50px;

}